* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 90vmin;
    flex-wrap: wrap;
    gap: 5px;
  }
  .box {
    height: 25vmin;
    width: 25vmin;
    border-radius: 10px;
    font-size: 18vmin;
    color: rgb(0, 0, 7);
    border: none;
  }
  .reset {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  .reset:hover {
    background-color: darkred;
  }
  
  .theme {
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .theme:hover {
    background-color: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  